<div>
    <h2 id="page-heading">
        <span jhiTranslate="crowdtestingApp.tester.home.title">Testers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tester" [routerLink]="['/tester/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="crowdtestingApp.tester.home.createLabel">
            Create a new Tester
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="testers?.length === 0">
        <span jhiTranslate="crowdtestingApp.tester.home.notFound">No testers found</span>
    </div>
    <div class="table-responsive" *ngIf="testers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="crowdtestingApp.tester.firstName">First Name</span></th>
            <th scope="col" ><span jhiTranslate="crowdtestingApp.tester.lastName">Last Name</span></th>
            <th scope="col" ><span jhiTranslate="crowdtestingApp.tester.country">Country</span></th>
            <th scope="col" ><span jhiTranslate="crowdtestingApp.tester.lastLogin">Last Login</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tester of testers ;trackBy: trackId">
                <td><a [routerLink]="['/tester', tester.id, 'view' ]">{{tester.id}}</a></td>
                <td>{{tester.firstName}}</td>
                <td>{{tester.lastName}}</td>
                <td jhiTranslate="{{'crowdtestingApp.Country.' + tester.country}}">{{tester.country}}</td>
                <td>{{tester.lastLogin | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tester', tester.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tester', tester.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(tester)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
